
<div class='story-body'>
    <h2 class='text-center'>Vaccinations by county in Ohio</h2>
</div>
<div class='buttons'>
    <div class='layers-toggled'> 
        <button class='button' id='vaccinationStarted'>Initial Dose</button>
        <button class='button' id='vaccinationCompleted'>Vaccinated</button>
    </div>
</div>

<div class='map-legend' id='vaccinationStartedLegend' style='margin-top:10px;margin-bottom:60px;display:block;'></div>
<div class='map-legend' id='vaccinationCompletedLegend' style='margin-top:10px;margin-bottom:60px;display:none;'></div>

<div class='map-container' style='margin-bottom:30px;'>
    <div id="map"></div>
</div>
<script src="/scripts/county-vaccine-map.js"></script>