
<div class="cartogram-container">
    <div class='buttons'>
            <button class='button' id='one-dose'>Initial Dose</button>
            <button class='button' id='vaccinated'>Two Doses</button>
            <button class='button' id='utilization'>Supply Used</button>
    </div>
    <div id="vaccination-cartogram"></div>
</div>

<script src="scripts/vaccination-cartogram.js"></script> 